@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
/* CSS Document */

.nav a{
	color:#E44352;
	font-family: Source Sans Pro, sans-serif;
}

.nav a:hover{
	color: black;
}

body{
	padding-top: 7%;
}

.blurb{
	width: 400px;
	font-family: source-sans-pro;
	font-style: normal;
	font-weight: 200;
	
	margin: 0 auto;
	padding-left: 0px;
}
